<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mis-tablas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mis-tablas`
     * tablas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MisTablas extends Polymer.Element {
      static get is() { return 'mis-tablas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mis-tablas'
          }
        };
      }
    }

    window.customElements.define(MisTablas.is, MisTablas);
  </script>
</dom-module>
