<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mis-tablas">
  <template>
    <style>
      :host {
        display: block;
      }
      .table{
        text-align: center;
        width: 100%;
        border-collapse: collapse;
      }
      thead{
        
        background: rgb(0, 0, 0, 0.7);
        color: white;
      }
   
      td, th{
        height: 50px;
      }
      tr:nth-child(even){
        background: rgb(0, 0, 0, 0.5);
        color: white;
      }
    </style>
    <table class="table">
      <caption><h1>Transactions</h1></caption>
     <thead>
       <tr>
         <th>Datos</th>
         <th>Descripcion</th>
         <th>...</th>
       </tr>
     </thead>
     <tbody>
       <tr>
         <td>1</td>
         <td>2</td>
         <td>3</td>
       </tr>
       <tr>
         <td>1</td>
         <td>2</td>
         <td>3</td>
       </tr>
       <tr>
         <td>1</td>
         <td>2</td>
         <td>3</td>
       </tr>
     </tbody>
    </table>
  </template>

  <script>
    /**
     * `mis-tablas`
     * tablas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MisTablas extends Polymer.Element {
      static get is() { return 'mis-tablas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mis-tablas'
          }
        };
      }
    }

    window.customElements.define(MisTablas.is, MisTablas);
  </script>
</dom-module>